* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: OpenSans; /* Имя шрифта */
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf); /* Путь к файлу со шрифтом */
   }

body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 26px;
    font-family: "OpenSans", sans-serif;
    color: #404040;
    background-color: white;
}

.container {
    max-width: 1030px;
    min-width: 320px;
    padding: 0 15px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

header {
    border-color: #fff;
    padding: 21px 0 23px;
    min-height: 20px;
}

.main-header-desktop {
    display: flex;
    justify-content: space-around;
}

.main-header-mobile {
    display: none;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:1030px) {
    .container {
        margin: 0;
    }
    .main-header-desktop {
        display: none;
    }
    .main-header-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.main-header-mobile-login img {
    width: 30px;
}

.main-header-mobile-toggler {
    position: relative;
    text-align: center;
    line-height: 48px;
    display: block;
    width: 28px;
    height: 28px;
}

.main-header-mobile-toggler span {
    width: 100%;
    height: 2px;
    background-color: #989898;
    transition: all .3s;
    backface-visibility: hidden;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    box-sizing: border-box;
}

.main-header-mobile-toggler span::before {
    width: 100%;
    height: 2px;
    background-color: #989898;
    transition: all .3s;
    backface-visibility: hidden;
    border-radius: 2px;
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
}

.main-header-mobile-toggler span::after {
    width: 100%;
    height: 2px;
    background-color: #989898;
    transition: all .3s;
    backface-visibility: hidden;
    border-radius: 2px;
    content: "";
    position: absolute;
    left: 0;
    top: 18px;
}

.main-header-mobile-toggler.on span {
    background-color: transparent
}

.main-header-mobile-toggler.on span:before {
    transform: rotate(45deg) translate(-1px, 0)
}

.main-header-mobile-toggler.on span:after {
    transform: rotate(-45deg) translate(6px, -7px)
}

.header-logo {
    float: left;
    width: 211px;
    height: 36px;
}

.header-logo img {
    float: left;
    width: 211px;
    height: 36px;
}

.main-nav {
    float: left;
    width: 519px;
    margin: 0;
    margin-top: 11px;
    padding: 0;
    list-style: none;
    font-weight: 500;
}

.main-nav li {
    float: left;
    margin-right: 28px;
    text-transform: uppercase;
    font-weight: 600;
}

.main-nav li:last-child {
    margin-right: 0;
}

.main-nav a {
    color: #989898;
    text-decoration: none;
}

.main-nav a:hover, 
.main-nav a:focus {
    text-decoration: underline;
}

.main-nav a:active {
    opacity: 0.5;
}

.btn {
    display: inline-block;
    width: 90px;
    padding: 3px;
    font: inherit;
    vertical-align: top;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    word-wrap: break-word;
    border: 2px solid #bcda5c;
    background-color: #bcda5c;
    border-radius: 22px;
}

.btn-login {
    margin-top: 5px;
    margin-right: 5px;
    float: right;
    color: #ffffff;
    transition: 0.5s;
}

.btn-login:hover,
.btn-login:focus
{
    border: 2px solid #a1bf3f;
    background-color: #a1bf3f;
}

.main-header-mobile-menu {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.mobile-menu {
    display: none;
    float: left;
    min-width: 330px;
    text-align: left;
    background-color: #f5f5f5;
    left: -15px;
    top: 24px;
    position: absolute;
    z-index: 2;
}

.mobile-menu ul {
    margin: 0;
    padding: 0;
}

.mobile-menu ul a {
    text-decoration: none;
}

.mobile-menu li {
    list-style: none;
    border-top: 1px solid #b7b5b5;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    color: #989898;
}

.mobile-menu li:first-child {
    margin-top: 0;
}

.mobile-menu li:last-child {
    margin-bottom: 0;
}

.mobile-menu li:hover,
.mobile-menu li:focus {
    background-color: #ababab;
    color: #ffffff;
}

.slider {
    background-image: url("../img/slider.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 100px;
}


.slider h2 {
    font-size: 3.5em;
    line-height: 1.5em;
    color: #fff;
    text-align: center;
    margin-bottom: 0;
}


@media (max-width:1030px) {
    .slider h2 {
        line-height: 1.2em;
        font-size: 2em;
    }
}

.btn-member {
    display: block;
    width: 175px;
    font-size: 1.3em;
    font-weight: 500;
    text-align: center;
    padding: 24px 40px;
    margin: 50px auto;
    background-color: #99c50a;
    color: #ffffff;
    text-decoration: none;
    border-radius: 7px;
    transition: 0.5s;
}

@media (max-width:1030px) {
    .btn-member {
        line-height: 1em;
        font-size: 1em;
        padding: 20px 20px;
    }
}


.btn-member:hover,
.btn-member:focus,
{
    background-color: #90b90a;
}


.mobile-arrow-left,
.mobile-arrow-right {
    display: none;
}



@media (max-width:1030px) {
    .slider-arrows {
        display: none;
    }
    .slider {
        position: relative;
    }
    .mobile-arrow-left {
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: scale(0.7);

    }

    .mobile-arrow-right {
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: scale(-0.7, 0.7);
    }

}

.slider-arrows {
    float: right;
    margin-top: 42px;
    margin-bottom: 36px;
}

.arrow-left,
.arrow-right {
    display: inline-block;
}

.arrow-left {
    transform: scale(0.7);
    margin-right: 22px;
}

.arrow-right {
    transform: scale(-0.7, 0.7);
}

.description {
    padding-top: 99px;
}

.description .icon {
    width: 58px;
    height: 58px;
    margin: 0 auto;
    text-align: center;
    
}

.description h2 {
    margin-top: 37px;
    font-size: 3.5em;
    line-height: 1.5em;
    text-align: center;
    margin-bottom: 52px;
    font-weight: 500;
    text-transform: uppercase;
}

.description p {
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 24px;
    line-height: 1.6em;
}

@media (max-width:1030px) {
    .description  h2 {
        line-height: 1.2em;
        font-size: 2em;
        margin-bottom: 26px;
    }
    .description p{
        font-size: 1.1em;
    }
}


.advantages {
    padding-top: 60px;
}

.advantages-list {
    display: flex;
    justify-content: space-around;
    counter-reset: myCounter;
    margin-left: -19px;
}

.advantages-list li {
    list-style: none;
    float: left;
    font-size: 33px;
    border-bottom: 1px solid #f6f4f4;
}

.advantages-list li {
    padding-bottom: 33px;
    padding-right: 50px;
}

.advantages-list li:last-child {
    margin-right: 0;
}

.advantages-list li.active {
    border-bottom: 1px solid #add136;
}

.advantages-list li a.list-element {
    text-decoration: none;
    font-weight: 100;
    position: relative;
    top: 5px;
    color: #5f5f5f;
}


.advantages-list li:before {
    counter-increment: myCounter;
    content: counter(myCounter);
    color: white;
    background-color: #5f5f5f;
    border-radius: 50%;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    margin: 5px 10px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    margin-right: 31px;
}

.advantages-list li.active:before {
    background-color: #99c50a;
}

@media (max-width:935px) {
    .advantages-list li:before {
        display: none;
    }
    .advantages-list li {
        padding-left: 50px;
        font-size: 20px;
        padding-bottom: 15px;
    }
}

@media (max-width:560px) {
    .advantages-list li:before {
        display: none;
    }
    .advantages-list li {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 20px;
        padding-bottom: 15px;
        font-size: 15px;
    }
}

.advantages-description .container {
    padding: 40px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon-block {
    width: 113px;
    height: 102px;

}

.icon-block img {
    width: 113px;
    height: 102px;
}

.icon-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 652px;
}

.icon-description h3 {

    font-size: 2em;
    color: #add136;
    font-weight: 300;
    margin-bottom: 10px;
}

.icon-description p {
    
    font-size: 1.4em;
    line-height: 2.5em;
    color: #606060;
    font-weight: 100px;
   
}

@media (max-width: 935px) {
    .icon-description h3 {
        font-size: 1.5em;
        margin-bottom: 8px;
    }
    .icon-description p {
        font-size: 1.1em;
        line-height: 1.5em;
    }
    .icon-block {
        width: 55px;
        height: auto;
        margin-right: 20px;
        padding-left: 20px;

    }
    .icon-block img {
        width: 55px;
        height: auto;
    }
}

@media (max-width:560px)
{

    .icon-description h3 {
        font-size: 14px;
        margin-bottom: 8px;
    }
    .icon-description p {
        font-size: 10px;
        
    }
}


.find {
    margin-top: 31px;
}

.find-container {
    width: 100%;
    margin: 0 auto;
    display: flex; 
    flex-wrap: wrap;
}




.find-left,
.find-right {
    width: 50%;
    padding: 30px 0 40px;
    display: flex;
    align-items:center;
    justify-content: space-around;
}

.find-left {
    background-color: #e2f8ff;
}

.find-left .icon {
    width: 133px;
    height: 112px;
   
}

.find-description {
    max-width: 390px;
}

.find-description h3 {
    font-size: 1.8em;
    margin-bottom: 26px;
}

.find-description p {
    font-size: 1.4em;
    line-height: 2.5em;
    margin-bottom: 33px;
}


.btn-properties {
    background-color: #26a6d1;
    padding: 15px 27px;
    border-radius: 7px;
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    margin-left: 2px;
    text-align: center;
    transition: 0.5s;
}

.btn-properties:hover,
.btn-properties:focus
{
    background-color: #2395bb;
}

.find-right {
    background-color: #f5f9eb;
}

.find-right .icon {
    width: 101px;
    height: 92px;
    
}

.find-description-buyers {
    max-width: 390px;

}

.find-description-buyers h3 {
    font-size: 1.8em;
    margin-bottom: 26px;
}

.find-description-buyers p {
    font-size: 1.4em;
    line-height: 2.5em;
    margin-bottom: 33px;
}

.btn-submit {
    background-color: #add136;
    padding: 15px 24px;
    border-radius: 7px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    text-align: center;
    transition: 0.5s;
}

.btn-submit:hover,
.btn-submit:focus
{
    background-color: #90b90a;
}

@media (max-width: 1100px)
{
    .find-left .icon, 
    .find-left .icon img, 
    .find-right .icon, 
    .find-right .icon img {
        width: 66px;
        height: auto;
    }   
    
    .find-description h3, .find-description-buyers h3 {
        font-size: 17px;
        margin-bottom: 10px;
    }
    
    .find-description p, .find-description-buyers p {
        margin-top: 5px;
        font-size: 14px;
        
    }
    
    .btn-properties {
        padding: 10px 18px;
        font-size: 0.9em;
    }
    
    .btn-submit
    {
        padding: 10px 16px;
        font-size: 12px;
    }
}
@media (max-width: 950px){
    .find-left .icon, 
    .find-left .icon img, 
    .find-right .icon, 
    .find-right .icon img {
        display: none;
    }
    
    
}

@media (max-width: 850px){
    .find-left, .find-right
    {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}



.projects {
    margin-top: 50px;
    margin-left: 24px;
}

.projects-top {
    display: flex;
    justify-content: space-between;   
    align-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 13px;
    padding-right: 38px;
}

.projects-top h2 {
    font-size: 3.5em;
    line-height: 1.5em;
    
}

.projects-top p {
    font-size: 17px;
    line-height: 31px;
}

.projects-top-description {
    max-width: 750px;
    margin-right: 0;
    
}

@media (max-width:1030px) {
    .projects-top  h2 {
        line-height: 1.2em;
        font-size: 2em;
        margin-bottom: 13px;
    }
    .projects-top p{
        font-size: 1.1em;
    }
}


.projects-top-description p {
    margin-bottom: 0;
}

.btn-pojects {
 
    text-decoration: none;
    font-size: 1.1em;
    line-height: 1.1em;
    padding: 15px 20px;
    border: 1px solid #b6b6b6;
    border-radius: 9px;
    font-weight: 200;
    color: #b6b6b6;
    transition: 0.5s;
    

}

.btn-pojects:hover,
.btn-pojects:focus
{
    background-color: #eaeaea;
    color: #969696;
}

@media (max-width: 1100px){
    .projects-top-description
    {
        margin-bottom: 20px;
    }
    .projects-top
    {
        justify-content: center;
    }
}

@media (max-width: 1052px)
    
{
    .projects-top-description
    {
        text-align: center;
    }
}

.projects-content {
    padding-top: 59px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.project-example {
    margin-top: 0;
    border: 1px solid #e3e3e3;
    border-radius: 7px;
    margin-left: 0;
    max-width: 298px;
    display: inline-block;
    background-color: #f9f9f9;
}


.picture {
    position: relative;
}

.flag-new {
    width: 74px;
    height: 74px;
    position: absolute;
    top: -1px;
    left: -1px;
}

.picture .tag {
    position: absolute;
    right: 15px;
    bottom: 18px;
}

.project-example figcaption {
    margin: 0 24px;
}

.project-example figcaption h3 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 1.35em;
    
}

.project-example figcaption p {
    margin-top: 0;
    line-height: 23px;
    word-spacing: 2px;
    margin-bottom: 17px;
}

.progress-bar {
    width: 100%;
    background-color: #e3e3e3;
    border-radius: 7px;
    position: relative;
    left: -1px;
}

.progress-bar-fill {
    display: block;
    height: 14px;
    background-color: #add136;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    transition: width 500ms ease-in-out;
}

.progress {
    margin-top: 10px;
    height: 39px;
    border-bottom: 1px solid #d6d6d6;
    color: #8d8d8d;
}

.percent {
    display: block;
    float: left;
    font-size: 13px;
    font-weight: 500;
}

.days-left {
    display: block;
    float: right;
    font-size: 13px;
    font-weight: 300;
    font-weight: 500;
}

.progress-details {
    margin-top: 22px;
}

.progress-details p {
    float: right;
    font-size: 15px;
    color: #626262;
    font-weight: 500;
    margin-bottom: 3px;
}

.progress-details p::after {
    content: "";
    display: inline-block;
    position: relative;
    bottom: -3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 12px;
    border-color: transparent transparent transparent #add136;
    margin-left: 10px;
    margin-right: 7px;
}

.another-projects
{
    display: none;
    margin: 0 auto;
    font-size: 15px;
    font-weight: bold;
   
}

.another-projects a
{
    color: #626262;
    text-decoration: none;
}

.another-projects a:hover,
.another-projects a:active
{
    color: #90b90a;
    text-decoration: none;
}


@media (max-width: 1050px){
    
    .projects .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .projects-content {
        justify-content: space-around;
    }
    
    .project-example:nth-child(3)
    {
        display: none;
    }
    
    .another-projects {
        display: block;
    }
    
}
@media (max-width: 750px){
    .project-example:nth-child(2)
    {
        display: none;
    }
    .another-projects
    {    
        text-align: center;
    }
    
    
}

.international-comunity {
    background-image: url("../img/city.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 62px;
}

.international-comunity h2 {
    font-size: 3.5em;
    line-height: 1.5em;
    text-align: center;
    color: #9ec02d;
    margin-bottom: 28px;
}

.international-comunity p {
    text-align: center;
    font-size: 19px;
    line-height: 31px;
}

.community-description {
    display: block;
}

@media (max-width:1030px) {
    .international-comunity  h2 {
        line-height: 1.2em;
        font-size: 2em;
        margin-bottom: 13px;
    }
    .international-comunity p{
        font-size: 1.1em;
    }
}

.feedback {
    padding-top: 76px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 1030px){
    .feedback{
        justify-content: center;
    }
}

.feedback-first
{
    margin-right: 10px;
}

.feedback-first, .feedback-second
{
    margin-bottom: 35px;
    
}


.cloud {
    
    background-color: white;
    border-radius: 7px;
    padding: 20px;
    position: relative;
}

.cloud h3 {
    font-size: 1.35em;
    line-height: 2.3em;
    color: #9ec02d;
    text-align: center;
    font-weight: 500;
    margin-bottom: 0px;
}

.cloud p {
    font-size: 1em;
    line-height: 1.8em;
}

.cloud::after {
    content: "";
    border: 10px solid transparent;
    border-top: 10px solid #ffffff;
    border-left: 11px solid #ffffff;
    position: absolute;
    bottom: -20px;
    left: 50%;
}

.person {
    margin-top: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.person .avatar {
    width: 60px;
    height: 60px;
    margin-right: 17px;
    
}

.person .person-description {
    font-size: 16px;
    font-weight: 500;
    vertical-align: middle;
}

.sponsors-block {
    padding: 25px 0;
    border-bottom: 1px solid #ededed;
}

.sponsors-list {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 0;
}

.sponsors-list li {
    display: inline-block;
    list-style: none;
    padding: 10px;
    vertical-align: middle;
}

.copyright {
    font-size: 13px;
    color: #848484;
    text-align: center;
    padding: 10px 0;
}
